<!DOCTYPE html>
<html lang="en">
    <head>
        <meta chatset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IPL Bidding App</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body style="justify-content: center;">
        <div class="header">
            <h1>IPL Bidding App</h1><ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Organizer</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
        <div style="justify-content: center;">
            <h2 style="color: dodgerblue;">Welcome to IPL Bidding App</h2>
            <p>This is the home page of our IPL Bidding Application .Please select an option from the navigation menu to proceed</p>

        </div>

    </body>

</html>
