<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user-profile-card</title>
</head>
<body style="text-align: center;">
    <div>
        <h2>User Profile</h2>
        <p>Name: <span [innerText]="userName"></span></p>
        <p>Age: <span [innerText]="userAge"></span></p>
        <button (click)="incrementAge()" class="inButton">Increment Age</button>&nbsp;
        <button (click)="resetAge()" class="resButton">Reset Age</button><br><br>
        <label for="userNameInput">Edit User Name: </label>
        <input type="text" id="userNameInput" [innerHTML]="userName" (input)="updateUserName($event.target.value)">
    </div>
</body>
</html>
