<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>countdown</title>
</head>
<body style="text-align: center;">
    <h1 style="text-align: center;">Count Fixer</h1>
    <input #seconds type="number" placeholder="Enter seconds"><br><br>
    <button style="color:white; background-color: dodgerblue;" (click)="startCountdown(seconds.value)">Start Countdown</button><br>
    <div>
        <p>Remaining Time:<span [innerText]="countdown"></span></p>
    </div>
</body>
</html>
