<h1 class="heading" style="text-align: center;">Recipe Manager</h1>
<div class="container" *ngFor="let recipe of recipes">
   <h3>{{recipe.name}}</h3>
   <span>{{recipe.ingredients}}</span><br><br>
   <button (click)="showDetails(recipe)">View Details</button>
</div><br>
<div class="selected" *ngIf="selectedRecipe">
    <h1>Recpie Details</h1>
        <h3>{{selectedRecipe.name}}</h3>
        <span>Type: <span>{{selectedRecipe.type}}</span></span><br>
        <span>Ingredients: <span>{{selectedRecipe.ingredients}}</span></span><br>
        <span>Instructions: <span>{{selectedRecipe.instructions}}</span></span><br>
        <button style="color: white;background-color: dodgerblue;border: none;border-radius: 5px;" (click)="hideDetails()">Hide Details</button>&nbsp;
        <button style="color: white;background-color:red;border: none;border-radius: 5px;" (click)="deleteRecipe(selectedRecpie)">Delete</button>&nbsp;
</div>


